<div mat-dialog-content>
  <p>{{data.title}}</p>
  <div class="dialog-content" >
    <ng-container *ngFor="let key of keys">
      <mat-form-field>
        <mat-label>{{convertKeyToTitle(key)}}</mat-label>

        <ng-container *ngIf="key === 'type'">
          <mat-select [(ngModel)]="data.values[key]" (selectionChange)="onProjectSelectionChange($event)">
            <mat-option *ngFor="let value of projectTypes" [value]="value">{{value}}</mat-option>
          </mat-select>
        </ng-container>

        <ng-container *ngIf="key === 'projects'">
          <mat-select multiple [(ngModel)]="data.values[key]" (selectionChange)="onProjectSelectionChange($event)">
            <mat-option *ngFor="let value of projectsList" [value]="value">{{value.name}}</mat-option>
          </mat-select>
        </ng-container>

        <ng-container *ngIf="key === 'favoriteProjects'">
          <mat-select multiple [(ngModel)]="data.values[key]">
            <mat-option *ngFor="let value of data.values.projects" [value]="value">{{value.name}}</mat-option>
          </mat-select>
        </ng-container>

        <ng-container *ngIf="key !== 'projects' && key !== 'favoriteProjects' && key !== 'type'">
          <input [required]="true" [disabled]="key === 'id' || key === 'createdAt' || key === 'modifiedAt'"
                 [type]="key==='password'? 'password': 'text'"
                 matInput
                 [email]="key === 'email'"
                 [name]="key"
                 (keydown)="checkRequiredFields()"
                 [(ngModel)]="data.values[key]"
          >
        </ng-container>
      </mat-form-field>
    </ng-container>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [disabled]="formInvalid" [mat-dialog-close]="data.values" cdkFocusInitial>Ok</button>
</div>
