<div class="management-page">
  <h1 class="management-page__title">Welcome to Management page</h1>
  <div class="management-page__actions-container">
    <button mat-raised-button class="action" routerLink="/users">Users</button>
    <button mat-raised-button class="action" routerLink="/projects">Projects</button>
  </div>
</div>
