:host {
  height: 100%;
}

.management-page__title {
  size: 24px;
}

.management-page {
  min-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action {
  margin: 5px 10px;
}
