<div class="actions-container">
  <app-back-button routerLink="/management"></app-back-button>
  <app-create-button entityType="project"></app-create-button>
</div>
<div class="search-container">
  <mat-form-field>
    <mat-label>Search by Email</mat-label>
    <input matInput [(ngModel)]="searchString" (change)="onSearch()">
  </mat-form-field>
  <mat-form-field style="margin-left: 20px">
    <input matInput [(ngModel)]="created" (change)="onSearch()" type="datetime-local" placeholder="Creation time">
  </mat-form-field>
  <mat-form-field style="margin-left: 20px">
    <input matInput [(ngModel)]="modified" (change)="onSearch()" type="datetime-local" placeholder="Modification time">
  </mat-form-field>
  <mat-checkbox [(ngModel)]="isFavorite" (change)="onSearch()" style="margin-left: 30px; padding-top: 13px">Favorite</mat-checkbox>
</div>
<app-table></app-table>
