<div class="table-container">
  <table mat-table [dataSource]="dataSource$ | async" class="mat-elevation-z3">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container *ngFor="let column of tableColumns"
                  [matColumnDef]="column.colDef"
    >
      <th mat-header-cell *matHeaderCellDef> {{column.title}}</th>

      <ng-container *ngIf="column.type === 'text'">
        <td mat-cell *matCellDef="let element"> {{element[column.colDef]}}</td>
      </ng-container>

      <ng-container *ngIf="column.type === 'date'">
        <td mat-cell *matCellDef="let element"> {{element[column.colDef] | date:'medium' || "-" }}</td>
      </ng-container>

      <ng-container *ngIf="column.type === 'text_array'">
        <td mat-cell *matCellDef="let element">
          <ng-container *ngFor="let elem of element[column.colDef]; let last = last">
            {{elem.name}}<ng-container *ngIf="!last">, </ng-container>
          </ng-container>
        </td>
      </ng-container>

      <ng-container *ngIf="column.type === 'actions'">
        <td mat-cell *matCellDef="let element">
          <div class="actions-container">
            <button mat-button (click)="onEditClick(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-button (click)="onDeleteClick(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
